.qjfry { 
  border-left-width: 82px;
  margin-left: 62px;
  padding-bottom: 21px;
  margin-bottom: 94px;
  padding-left: 19px;
  margin-right: 42px;
  border-left-width: 2px;
  border-left-width: 71px;
  font-size: 33px;
  padding-top: 18px;
  padding-bottom: 45px;
  font-size: 24px;
  border-top-width: 36px;
  margin-top: 35px;
  margin-left: 69px;
}
