.qjfry { 
  border-left-width: 82px;
  margin-left: 62px;
  padding-bottom: 21px;
  margin-bottom: 94px;
  padding-left: 19px;
  margin-right: 42px;
  border-left-width: 2px;
  border-left-width: 71px;
  font-size: 33px;
  padding-top: 18px;
  padding-bottom: 45px;
  font-size: 24px;
  border-top-width: 36px;
  margin-top: 35px;
  padding-bottom: 37px;
  margin-bottom: 45px;
  font-size: 83px;
  border-top-width: 82px;
  border-right-width: 33px;
  margin-left: 47px;
  padding-top: 3px;
  padding-right: 78px;
  margin-left: 26px;
  padding-left: 39px;
  margin-right: 4px;
  margin-right: 80px;
  padding-left: 95px;
  border-left-width: 88px;
  margin-left: 93px;
  line-height: 97px;
  padding-top: 76px;
  padding-right: 81px;
  border-left-width: 35px;
  padding-left: 91px;
  padding-left: 41px;
  padding-bottom: 52px;
  padding-bottom: 85px;
  padding-left: 13px;
  padding-bottom: 24px;
  border-left-width: 30px;
  border-top-width: 33px;
  padding-left: 54px;
  margin-bottom: 16px;
  margin-top: 51px;
  border-top-width: 48px;
  padding-right: 41px;
  border-top-width: 22px;
  border-left-width: 45px;
  margin-top: 42px;
  border-left-width: 44px;
  margin-bottom: 40px;
  line-height: 76px;
  margin-left: 96px;
  padding-bottom: 52px;
  margin-right: 12px;
  border-top-width: 86px;
  padding-left: 18px;
  margin-right: 31px;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
